* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .counter-container {
    text-align: center;
  }
  
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .counter-btn {
    background: none;
    border: none;
    cursor: pointer;
    gap: 10px;
  }
  
  .counter-btn img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #count {
    margin: 0 20px;
    font-size: 4.5rem;
    font-weight: bold;
  }
  
  .reset {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .reset:hover {
    background-color: #ff4949;
  }

  #dark-mode-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
  }
  